ul{
	list-style-type:none;/*list-style-type:none - 删除圆点。导航栏不需要列表项标记。*/
	margin:0; 
	padding:0;/*把外边距和内边距设置为 0 可以去除浏览器的默认设定。*/
}
ul li a:link,ul li a:visited{
	display:block; /*display:block - 把链接显示为块元素可使整个链接区域可点击（不仅仅是文本），同时也允许我们规定宽度。*/
	width:120px;  /*width:120px - 块元素默认占用全部可用宽度。我们需要规定 120 像素的宽度。*/
	background-color:#dddddd;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px;
}
ul li a:hover,ul li a:active{
	background-color:red;
}